body {
	font-size: 1.4rem;
	font-family: Ubuntu, sans-serif;
}

h1 {
	font-size: 2.4rem;
	font-weight: 700;
}

.people-page {
	background-color: linen;
	color: navy;
}

.orders-page {
	background-color: mintcream;
	color: darkgreen;
}

.four-oh-four-page {
	background-color: navajowhite;
	color: firebrick;
}
